// f: focused, u: unfocused
$text: #fbf1c7;
$background0: #1d2021;
$background1: #32302f;
$background2: #3c3836;
$background3: #504945;
$background4: #665c54;
$background5: #7c6f64;
$backgroundErr: #9e0005;
$accent: #fabd2f;
$border: #363130;
$primry: #8ec07c;
$second: #b8bb26;
