$f_text: #fbf1c7;
$u_text: #bcb6a0;
$f_bgrd: #181a1b;
$u_bgrd: #0c0d0e;
$s_bgrd: color.adjust($f_bgrd, $lightness: 10%);
$e_bgrd: #9e0005;
$accent: #fabd2f;
$border: #363130;
$primry: #8ec07c;
$second: #b8bb26;
