@import "./styles/colors.scss";

window {
  background-color: $background0;
  color: $text;
  font-family: "CaskaydiaCove Nerd Font Propo";
  border: 1px solid $border;
}

@import "./styles/volume_stl.scss";
