#workspaces {
  margin: $spacing;
  border: 1px solid $border;
}

#workspaces button {
  border-radius: 0;
  padding: $spacing;
  min-height: 1.5em;
  min-width: 1.5em;
  transition-property: background-color, color;
  transition-duration: .3s;
}

#workspaces button:hover {
  background-color: $u_bgrd;
}

#workspaces button.focused {
  background-color: $primry;
  color: $f_bgrd;
}

#workspaces button.urgent {
  background-color: $accent;
  color: $f_bgrd;
}
