# Required Variables {
set $term "wezterm" # prefered terminal
#
# Run the following command to lookup available outputs
# swaymsg -t get_outputs | jq '.[].model'
set $ewwoutput "0x103D"

set $browser "firefox"
set $filemanager "thunar"
# Required Variables }
