// f: focused, u: unfocused
$text:                  #FBF1C7;
$background0:           #1D2021;
$background1:           #32302F;
$background2:           #3C3836;
$background3:           #504945;
$background4:           #665C54;
$background5:           #7C6F64;
$backgroundErr:         #9e0005;
$accent:                #FABD2F;
$border:                #363130;
$primry:                #8EC07C;
$second:                #B8BB26;
